name: EXAM

services:

  postgresdb:
    image: postgres:latest
    networks:
      - cluster-network-spark
    environment:
      POSTGRES_PASSWORD: superpassword
      POSTGRES_DB: flight_stats
      POSTGRES_USER: flight_user
    volumes:
      - "./db/:/docker-entrypoint-initdb.d"

  adminer:
    image: adminer
    restart: always
    networks:
      - cluster-network-spark
    depends_on:
      postgresdb:
        condition: service_started
    ports:
      - "9090:8080"

  sparkmaster:
    build:
      context: .
      dockerfile: dockerfile
    command: /opt/spark/sbin/start-master.sh -h 0.0.0.0 #map volume to customize config
    networks:
      - cluster-network-spark
    ports:
      - "8080:8080"
      - "4040:4040"
    environment:
      - SPARK_NO_DAEMONIZE=true
    volumes:
      - "./data_huge/:/tmp/data_huge/"


  sparkworker01:
    build:
      context: .
      dockerfile: dockerfile
    command: /opt/spark/sbin/start-worker.sh spark://sparkmaster:7077
    ports:
      - "8081:8081"
    depends_on:
      sparkmaster:
        condition: service_started
    networks:
      - cluster-network-spark
    environment:
      - SPARK_NO_DAEMONIZE=true
    volumes:
      - "./data_huge/:/tmp/data_huge/"

  sparkworker02:
    build:
      context: .
      dockerfile: dockerfile
    command: /opt/spark/sbin/start-worker.sh spark://sparkmaster:7077
    ports:
      - "8082:8081"
    depends_on:
      sparkmaster:
        condition: service_started
    networks:
      - cluster-network-spark
    environment:
      - SPARK_NO_DAEMONIZE=true
    volumes:
      - "./data_huge/:/tmp/data_huge/"

  datalake:
    image: minio/minio:RELEASE.2025-04-03T14-56-28Z
    command: server /data --console-address ":9001"
    ports:
      - "9010:9000"
      - "9011:9001"
    volumes:
      - data_lake:/data
    networks:
      - cluster-network-spark

volumes:
  data_lake:

networks:
  cluster-network-spark:
    driver: bridge